/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    color:#fff;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
  color: #fff;
}

.content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.content-section2{
  padding-top: 50px;
}
/* Section 1
 * --------------------------------------- */

.upper-section{
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 6em 4em 4em 4em;
}


/* Section 3
 * --------------------------------------- */
#section2{
  background-color: #489A7F;
}
#section2 h1{
  color: #fff;
}
#section2 p{
  opacity: 0.6;
}

#section3{
  background-color: #AECD54;
}
#section3 h1{
  color: #fff;
}

.arrow-down{
  position: absolute;
  left: 50%;
  bottom: 30px;
}

.arrow-up{
  position: absolute;
  left: 50%;
  top: 30px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.a-down{
  all: initial !important;
  color: #fff !important;
}

.a-down:hover{
  all:initial !important;
  color: #fff !important;
}

.small-side{
  display:none;
}

.two-sides{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 50px;
  align-items: center;
}

.left-side{
  width:300px;
  margin-right: 5%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.right-side{
  width: 720px;
}

.pdfobject-container {
  width: 100%;
  height: 540px;
  margin: 2em 0;
}

.pdfobject { border: solid 2px #666; }

.links{
  background-color: transparent;
  margin: 0.5em 0em;
  border-radius: 6px;
  border: none;
  border: solid 2px #489A7F;
  background: #489A7F;
  color: #fff;
  display: block;
  padding: 0 1em;
  text-decoration: none;
  width: 150px;
}

.links:hover{
  opacity: 0.7;
  color: #fff !important;
  text-decoration: none;
}

@media (max-width: 600px){
  .small-side{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two-sides{
    display:none;
  }
}
